name: CI Pipeline

on:
  pull_request:
    branches:
      #- 'bugfix/*'
      #- 'feature/*'
      #- 'hotfix/*'
      - main
    workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  tests:
    name: Tests runner
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Run tests
        run: ./gradlew test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}